In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [65]:
df = pd.read_csv("df_final_experiment_clients.txt", delimiter=",")
df

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [66]:
df.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [67]:
df.shape

(70609, 2)

In [68]:
df.dtypes

client_id     int64
Variation    object
dtype: object

In [69]:
df_cleaned = df.drop_duplicates()

In [70]:
df_cleaned = df_cleaned.dropna()

In [71]:


df_cleaned['client_id'] = df_cleaned['client_id'].astype(str)
df_cleaned['Variation'] = df_cleaned['Variation'].astype('category')

# Optionally lowercase column names
df_cleaned.columns = [col.lower() for col in df_cleaned.columns]

# Save cleaned file
df_cleaned.to_csv('df_cleaned_experiment_clients.csv', index=False)

print("Cleaned and saved:", df_cleaned.shape)

Cleaned and saved: (50500, 2)

In [72]:
list(set(df.dtypes.tolist()))

[dtype('O'), dtype('int64')]

In [73]:
df.select_dtypes("number").columns

Index(['client_id'], dtype='object')

In [74]:
#df.select_dtypes("number").nunique().sort_values(ascending=False)

In [75]:
#df.isnull().sum().sort_values(ascending=False)

In [76]:
#df.columns[df.isnull().mean() > 0.8]

In [77]:
#df = df[df.columns[df.isnull().mean() < 0.8]]

In [78]:
print(df.columns)

Index(['client_id', 'Variation'], dtype='object')

In [81]:
df['Variation'].unique()

array(['Test', 'Control', nan], dtype=object)

In [80]:
df['client_id'].unique()

array([9988021, 8320017, 4033851, ...,  266828, 1266421, 9895983],
      shape=(70609,))

In [82]:
df_cleaned.head()

  client_id variation
0   9988021      Test
1   8320017      Test
2   4033851   Control
3   1982004      Test
4   9294070   Control